<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href = "/pizzas">Pizza Orders</a>
      </li>
      <li>
        <a href = "/pizzas/new">Place Order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>